{% extends "layout.html" %}
{% block title %}
    Vehicles
{% endblock %}
{% block navbar-title %}
    Vehicles
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <section class="user-vehicles">
        <div class="vertical-container">
            <h2>Your vehicles:</h2>
            {% if user.vehicles.all %}
                <table id="user-vehicles-table" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>License plate</th>
                        <th>Make</th>
                        <th>Model</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in user.vehicles.all %}
                        <tr
                                class="vehicle-row"
                                {% if vehicle.vehicle_photo %}
                                data-vehicle-photo="{{ vehicle.vehicle_photo.url }}"
                                {% endif %}
                        >
                            <td>{{ vehicle.licensePlate }}</td>
                            <td>{{ vehicle.make }}</td>
                            <td>{{ vehicle.model }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p>&#8593; Here is the list of all vehicles assigned to Your account. &#8593;</p>
            {% else %}
                <br>
                <p>There is currently no vehicles assigned to your account.</p>
            {% endif %}
        </div>
        <div class="vertical-container">
            <h2>Register new vehicle:</h2>
            <form id="register-vehicle-form" class="form-with-validation" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_table }}
                <button class="form-submit" type="submit">Register Vehicle</button>
            </form>
        </div>
    </section>

    <div id="vehicle-photo-preview"
         style="display:none; position:fixed; border:1px solid #ccc; background:#fff; padding:5px;">
        <img id="vehicle-photo-img" src="" alt="Vehicle Photo" style="max-width:200px; max-height:200px;">
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        const userVehiclesTable = $('#user-vehicles-table').DataTable({
            scrollY: 200,
            scroller: true,
            paging: false,
            info: false,
            scrollX: 400,
            searching: false
        });

        const photoPreview = $('#vehicle-photo-preview');
        const photoImg = $('#vehicle-photo-img');

        $('.vehicle-row').hover(
            function () {
                const photoUrl = $(this).data('vehicle-photo');
                if (photoUrl) {
                    photoImg.attr('src', photoUrl);
                    photoPreview.css('display', 'block');
                    console.log("photo showed");
                }
            }

            ,

            function () {
                photoPreview.css('display', 'none');
                photoImg.attr('src', '');
            }
        )
        ;

        $('.vehicle-row').mousemove(function (e) {
            photoPreview.css({
                top: e.pageY + 15 + 'px',
                left: e.pageX + 15 + 'px'
            });
        });

    </script>
{% endblock %}