{% extends "layout.html" %}
{% block title %}
    Transactions
{% endblock %}

{% block navbar-title %}
    Transactions
{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css"/>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
    <table id="transactions-table" class="display" style="width:100%">
        <thead>
        <tr>
            <th>License plate</th>
            <th>Make & Model</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Username</th>
            <th>Parking name</th>
            <th>Parking zone</th>
            <th>Timestamp</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.vehicle.licensePlate }}</td>
                <td>{{ transaction.vehicle.make }} {{ transaction.vehicle.model }}</td>
                <td>{{ transaction.user.first_name }}</td>
                <td>{{ transaction.user.last_name }}</td>
                <td>{{ transaction.user.username }}</td>
                <td>{{ transaction.parking.name }}</td>
                <td>{{ transaction.get_zone_display }}</td>
                <td>{{ transaction.transactionTimestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <script>
        $('#transactions-table').dataTable({
            scrollY: 300,
            scroller: true,
            paging: false,
            info: false,
        });
    </script>
{% endblock %}

