{% extends "layout.html" %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <section class="home-view">
        <div class="parking-view-left">
            <div id="green-zone-details">
                <h1>Free parking spaces in the green zone:</h1>
                <h1>{{ available_green_spaces }}</h1>
            </div>
            <div id="blue-zone-details">
                <h1>Free parking spaces in the blue zone:</h1>
                <h1>{{ available_blue_spaces }}</h1>
            </div>
            <div id="red-zone-details">
                <h1>Free parking spaces in the red zone:</h1>
                <h1>{{ available_red_spaces }}</h1>
            </div>
        </div>
        <div class="parking-view-right">
            <h1>{{ parking.name }}</h1>
            <img src="static/parking.png">
        </div>
    </section>
    <section class="home-view-details">
        <div class="parking-view-bottom">
            <p>The parking lot has three zones: green, blue and red.
                Access to the zones depends on your role at the university.</p>
        </div>
    </section>

{% endblock %}